<div class="card">
    <img class="card-img-top" [src]="recipe.imagePath" [alt]="recipe.name">
    <div class="card-body">
        <h5 class="card-title">{{ recipe.name }}</h5>
        <p class="card-text">{{ recipe.description }}</p>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                {{ ingredient.name }} - {{ ingredient.amount }}
            </li>
        </ul>
        <div class="btn-group mt-3" appDropdown>
            <button class="btn btn-primary dropdown-toggle" type="button">Manage Recipe <span
                    class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a routerLink="/shopping-list">To shopping list</a></li>
                <li><a [routerLink]="['/recipes' , id , 'edit']">Edit recipe</a></li>
                <li><a (click)="onDeleteRecipe()">Delete recipe</a></li>
            </ul>
        </div>
    </div>
</div>