<div *ngIf="isLoading" class="col-md-6 mt-3 text-center">
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="alert alert-danger col-md-6 mt-3" *ngIf="error">{{error}}</div>
<form (ngSubmit)="onSubmit(authForm)" #authForm="ngForm" *ngIf="!isLoading">
    <div class="row mb-3 col-md-6">
        <!-- Email input -->
        <div class="form-group">
            <label class="form-label" for="form2Example1">Email address</label>
            <input type="email" id="form2Example1" class="form-control" ngModel name="email" required email />
        </div>

        <!-- Password input -->
        <div class="form-group">
            <label class="form-label" for="form2Example2">Password</label>
            <input type="password" id="form2Example2" class="form-control" ngModel name="password" required
                minlength="6" />
        </div>
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid">
        {{ isLoginMode ? "Sign in" : "Sign up"}}
    </button>
    <button type="button" class="btn btn-primary" style="margin-left: 4px;" (click)="onSwitchMode()">
        Switch to {{ !isLoginMode ? 'Sign in' : 'Sign up' }}
    </button>
</form>