<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" name="name" formControlName="name">
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea name="description" class="form-control" rows="6" formControlName="description"></textarea>
    </div>
    <div class="mb-3">
        <img class="img-responsive mb-2" [src]="imagePath.value" style="max-height: 300px;">
        <label class="form-label">Image path</label>
        <input type="text" class="form-control" name="imagePath" formControlName="imagePath" #imagePath>
    </div>
    <div class="mb-3" formArrayName="ingredients">
        <div class="row mt-1" *ngFor="let ingredient of controls; let i = index;" [formGroupName]="i">
            <div class="col-8">
                <input type="text" class="form-control" name="" placeholder="name" formControlName="name">
            </div>
            <div class="col-2">
                <input type="number" class="form-control" name="" placeholder="amount" formControlName="amount">
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add new ingredient</button>
            </div>

        </div>
    </div>
    <button [disabled]="!recipeForm.valid" type="submit" class="btn btn-primary me-1">Save</button>
    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
</form>